<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="AmsLogic_DBConnectionString" connectionString="Data Source=172.27.10.128;initial catalog=AmsLogic_DB;persist security info=False;user id=sa;Connect Timeout=3000;Password=Zubur123" providerName="System.Data.SqlClient" />

    <add name="AX_Israel" connectionString="Data Source=AX-DB;Initial Catalog=Amsalem;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AX_USA" connectionString="Data Source=AX-DB;Initial Catalog=Amsalem;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    </connectionStrings>

  </configuration>