<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="AmsLogic_DBConnectionString" connectionString="Data Source=172.27.10.128;initial catalog=AmsLogic_DB;persist security info=False;user id=sa;Connect Timeout=3000;Password=Zubur123" providerName="System.Data.SqlClient" />

    <add name="AX_Israel" connectionString="Data Source=AX-DB;Initial Catalog=Amsalem;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AX_USA" connectionString="Data Source=AX-DB;Initial Catalog=Amsalem;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    </connectionStrings>

    <runtime>

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

            <dependentAssembly>

                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />

            </dependentAssembly>

            <dependentAssembly>

                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />

                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />

            </dependentAssembly>

            <dependentAssembly>

                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />

                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />

            </dependentAssembly>

            <dependentAssembly>

                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />

                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />

            </dependentAssembly>

        </assemblyBinding>

    </runtime>
</configuration>